:root {
    --li-bg-hover: #8D86C9;
    --li-bg-base: #262432;
    --content-fg: #F7ECE1;
    --main-bg-start: #17171C;
    --remove-bg-gradient: #964949;
    --footerBG: #251f27;
    --upload-hover: #468e61;
    --tooltip-bg: #635F8A;
    --preview-hover: #64929B;
    --ext-display-fg: #414141;
}

body {
    color: var(--content-fg);
    background-color: var(--main-bg-start);
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-size: 20;
    font-style: normal;
}

#shared-data-list {
    padding: 0;
    list-style-type: none;
}

.shared-list-item {
    display: flex;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    background-position: right;
    background-color: var(--li-bg-base);
}

@media only screen and (max-width: 600px) {
    .shared-list-item:has(.shared-list-link:hover) {
        background: linear-gradient(45deg, var(--li-bg-hover) 20%, rgba(38, 36, 50, 1) 20%);
        transition: background-position 0.4s ease;
    }

    .shared-list-item:has(.close-img:hover) {
        background: linear-gradient(45deg, var(--remove-bg-gradient) 20%, rgba(38, 36, 50, 1) 20%);
        transition: background-position 0.4s ease;
    }

    .shared-list-item:has(.preview-img:hover) {
        background: linear-gradient(45deg, var(--preview-hover) 20%, rgba(38, 36, 50, 1) 20%);
        transition: background-position 0.4s ease;
    }
}

@media only screen and (min-width: 600px) {
    .shared-list-item:has(.shared-list-link:hover) {
        background: linear-gradient(45deg, var(--li-bg-hover) 7.5%, rgba(38, 36, 50, 1) 7.5%);
        transition: background-position 0.6s ease;
    }

    .shared-list-item:has(.close-img:hover) {
        background: linear-gradient(45deg, var(--remove-bg-gradient) 7.5%, rgba(38, 36, 50, 1) 7.5%);
        transition: background-position 0.4s ease;
    }

    .shared-list-item:has(.preview-img:hover) {
        background: linear-gradient(45deg, var(--preview-hover) 7.5%, rgba(38, 36, 50, 1) 7.5%);
        transition: background-position 0.4s ease;
    }
}

.shared-list-item:has(.shared-list-link:hover) {
    background-position: left;
    background-size: 200% 100%;
    transition: background-position 0.4s ease;
}

.shared-list-link {
    width: 50%;
}

.shared-list-item:has(.close-img:hover) {
    background-position: left;
    background-size: 200% 100%;
    transition: background-position 0.4s ease;
}

.shared-list-item:has(.preview-img:hover) {
    background-position: left;
    background-size: 200% 100%;
    transition: background-position 0.4s ease;
}

.controls-div {
    position: relative;
    display: inline-block;
    width: 50%;
}

a {
    text-decoration: none;
    margin-left: 2%;
    color: var(--content-fg);
}

a {
    display: inline-block;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

a:hover {
    text-decoration: underline;
}

h2 {
    border-bottom: 2px solid var(--content-fg);
    padding-bottom: 8px;
    display: inline-block;
}

.title {
    text-align: center;
}

.close-img {
    position: absolute;
    right: 4px;
    height: 14px;
    margin-right: 4px;
    margin-top: 2px;
    transform: rotate(0deg);
    transition: transform 1s;
}

.close-img:hover {
    transform: rotate(90deg);
    transition: transform 1s;
}

#footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 55px;
    height: 6%;
    background-color: var(--footerBG);
}

.download-img {
    position: relative;
    top: -2%;
    transition: top 0.1s ease-in-out;
}

.download-img:hover {
    position: relative;
    top: -10%;
    transition: top 0.1s ease-in-out;
}

.img-container {
    position: relative;
    top: 2%;
    border-bottom: 3px solid var(--li-bg-hover);
    border-radius: 4%;
}

.img-container:hover {
    border-bottom: 3px solid var(--upload-hover);
    border-radius: 15%;
    transition: border-color 0.4s ease-in-out;
    transition: border-radius 0.6s ease-in-out;
}

.preview-img {
    position: absolute;
    right: 38px;
    height: 14px;
    width: 14px;
    transform: rotate(0deg) translateY(10%);
    transition: transform 1s ease;
}

.preview-img:hover {
    transform: rotate(90deg) translateY(10%);
    transition: transform 1s ease;
}

.ext-display {
    position: absolute;
    left: 40px;
    color: var(--ext-display-fg);
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.empty-preview {
    visibility: hidden;
    opacity: 0;
}